<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="4.4.0" targetFramework="net472" />
  <package id="IronOcr.Languages.Arabic" version="4.4.4.11" targetFramework="net472" />
  <package id="IronOcr.Languages.ChineseSimplified" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.French" version="4.4.4.2" targetFramework="net472" />
  <package id="Tesseract" version="3.3.0" targetFramework="net472" />
  <package id="Tesseract.Net.SDK" version="1.15.342" targetFramework="net472" />
  <package id="Vintasoft.Imaging" version="9.1.2.3" targetFramework="net472" />
  <package id="Vintasoft.Imaging.Ocr" version="4.1.2.3" targetFramework="net472" />
  <package id="Vintasoft.Imaging.Ocr.Tesseract" version="4.1.2.3" targetFramework="net472" />
  <package id="Vintasoft.Shared" version="1.7.0.3" targetFramework="net472" />
</packages>